.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: #faf9f9;
    // background-image: linear-gradient(to right bottom, rgba(40, 40, 40, 0.801), $color-gradiant);
    box-shadow: $color-black;
    min-height: 50rem;
    // background-image: url(../img/hotel-2.jpg);


    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}



.content {
    display: flex;
    background-image: url(../img/hotel-2.jpg);
    // height: 120vh;
    width: 100%;
    // background-repeat: no-repeat;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
    &__page{
    background-image: linear-gradient(to right bottom, rgba(40, 40, 40, 0.801), $color-gradiant);

    }
}



.hotel-view {
    background-color: #fff;

    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}